# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/

# Terraform
.terraform/
*.tfvars
*.tfstate
*.tfstate.*

# Data files
data/**/*
!data/input/
!data/input/*.json
!data/output/

scripts/
python/anomaflow/pipeline.py.old

