# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs and junk
*.log
*.tmp
*.swp
*.csv
*.json
*.schema
*.lock

# Virtual environments
.venv/

# Cloud config and metadata
.gcloudignore
run.yaml

# Project metadata not needed in image
README.md

# Terraform code, state and configs
terraform/

# Local data input/output
data/

# Scripts and images
scripts/
images/
makefile

# Local config files
.vscode/
