# Virtual environments
.venv/

# Python cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache

# Junk
**/*.old

# Documentation
README.md

# Docker
.dockerignore

# Cloud Build
.gcloudignore